METRO_API_CONSUMER_KEY=replace_with_consumer_key
METRO_API_CONSUMER_SECRET=replace_with_consumer_secret
METRO_API_TOKEN_URL=https://api.metrolisboa.pt:8243/token
METRO_API_BASE_URL=https://api.metrolisboa.pt:8243/estadoServicoML/1.0.1
METRO_API_VERIFY_SSL=true
